* {
    margin: auto;
    padding: 0;

  }
  
  html{
    background: #EEE5E9;
    font-size: 100%;
    font-family: 'Source Sans Pro', Helvetica, sans-serif;
  }
  
  header1 {
    width: 95%;
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: end;
            justify-content: flex-end;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
  }
  header1 ul1 {
    padding: 1.2em 0 0.5em;
  }
  header1 span {
    padding: 0 0 0 0.5em;
  }
  header1 span, header1 i {
    color: #2B2D42;
  }
  header1 i:nth-of-type(2) {
    cursor: pointer;
  }
  
  .row {
    width: 100%;
    -webkit-box-pack: start;
            justify-content: flex-start;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
            flex-flow: row wrap;
            margin: auto;
    padding: 0;
  }
  
  .product, .product--blue,.product--lightblue, .product--orange, .product--red, .product--green, .product--yellow, .product--pink, .product--purple, .product--gray {
    box-shadow: 1px 5px 15px rgb(56, 56, 56);
    width: 15em;
    height: auto;
    border-radius: 3px;
    padding: 2em;
    margin: 1em;
    overflow: hidden;
    position: relative;
    -webkit-box-flex: 1;
            flex: auto;
  }
  .product--blue {
    background: linear-gradient(-45deg, #5792ff 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--lightblue {
    background: linear-gradient(-45deg, #92DCE5 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  
  .product--orange {
    background: linear-gradient(-45deg, #ff908f 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--red {
    background: linear-gradient(-45deg, #E84855 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--green {
    background: linear-gradient(-45deg, #70C1B3 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--yellow {
    background: linear-gradient(-45deg, #E8DB7D 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--pink {
    background: linear-gradient(-45deg, #FF386D 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product--purple {
    background: linear-gradient(-45deg, #a99bfc 50%, rgba(255, 255, 255, 0.5) 50%);
  }
   .product--gray {
    background: linear-gradient(-45deg, #cccccf 50%, rgba(255, 255, 255, 0.5) 50%);
  }
  .product img, .product--blue img,.product--lightblue img, .product--orange img, .product--red img, .product--green img, .product--yellow img, .product--pink img  ,.product--purple img, .product--gray img{
   
    position: absolute;
    left: 10px;
    right: 20px;
    bottom: 50px;
    flex: auto;
   
  }
  .product_inner {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
  }
  .product_inner p {
    color: rgba(0, 0, 0, 0.9);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
  }
  .product_inner button {
    border: 1px solid rgba(255, 255, 255, 0.5);
    color: #FFF;
    border-radius: 3px;
    padding: 1em 3em;
    margin: 1em 0 0 0;
    background: none;
    cursor: pointer;
    -webkit-transition: background ease-in .25s;
    transition: background ease-in .25s;
  }
  .product_inner button:hover {
    background: white;
    color: #2B2D42;
  }
  .product_inner button:before {
    font-family: FontAwesome;
    content: '\f07A';
    color: #FFF;
    position: absolute;
    font-size: 1.5em;
    margin: 0 -1.5em;
  }
  .product_inner button:hover:before {
    color: #2B2D42;
  }
  .product_overlay {
    background: rgba(255, 255, 255, 0.9);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    -webkit-transform: translateY(-500px);
            transform: translateY(-500px);
    opacity: 0;
    display: -webkit-box;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
            flex-flow: column wrap;
    -webkit-box-pack: center;
            justify-content: center;
    -webkit-box-align: center;
            align-items: center;
  }
  .product_overlay h2 {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.2em;
    margin: 1em 0;
  }
  .product_overlay i {
    color: rgba(43, 45, 66, 0.7);
    font-size: 1.5em;
  }
  .center {
    position: absolute;
    left: 10px;
    right: 20px;
    bottom: 50px;
  }
  .product_inner h1 {
    color: rgba(48, 53, 52, 0.9);
    font-family: Segoe UI, Tahoma, Geneva, 'Verdana', sans-serif;
   /* font­size: 16px;
    font­size: 1rem;*/
    
  
  }