
/*estilos banners*/
/*.nosotros{
	border: rgb(158, 51, 51);
	background-color: rgb(150, 150, 150);
  }
  */
.banner{
	widows: 700px; 
	height: 500px;
	border:18px solid white;
	background-size: 100% 100%;
	animation-name: banner;
	animation-duration: 5s;
	animation-iteration-count: infinite;
  }
  
  
  
  @keyframes banner{
	0% ,30%{
		background-image: url(../Imagenes/Banner1.jpeg); 
	}
	35%,65%{
		background-image: url(../Imagenes/Banner2.jpeg); 
	}
	70%,100%{
		background-image: url(../Imagenes/Banner3.jpeg); 
	}
  }
  /*BANNER NOSOTROS*/
  .nosotros{

	background: linear-gradient(150deg, rgb(171, 130, 184),rgb(122, 206, 212),rgb(245, 201, 135));
	background-size: 400% 300%;
	animation: BgGradient 5s ease infinite;
  
  }
 

  
  @keyframes BgGradient {
	  0% {background-position:0% 50%};
	  50% {background-position:100% 50%};
	  100% {background-position:0% 50%};
	}